<p id="notice"><%= notice %></p>

<p>
  <strong>User ID:</strong>
  <%= @request.user_id %>
</p>

<p>
  <strong>Request Type:</strong>
  <%= @request.requestType %>
</p>

<p>
  <strong>Created:</strong>
  <%= @request.created %>
</p>

<p>
  <strong>Expires:</strong>
  <%= @request.expires %>
</p>

<p>
  <strong>Longtitude:</strong>
  <%= @request.longtitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @request.latitude %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
